name: Linux Toolbox CI

# Quando executar: em todo push na branch main e em Pull Requests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  shellcheck:
    name: ShellCheck Analysis
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do repositório
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Executa o linter ShellCheck em todos os scripts .sh
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: './scripts'
      env:
        SHELLCHECK_OPTS: -e SC1091 # Ignora erro de source (imports) se não encontrar arquivo
